@use "utils/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "sans-serif";
}

main {
  padding: 0 7rem;
  @media (max-width: variables.$breakpoint1330) {
    padding: 0;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
